@tailwind base;
@tailwind components;
@tailwind utilities;
@theme {
  --color-light-gray: #B1B2B9;
  --color-dark-slate: #272e36;
  --color-off-white: #F0E9E6;
  --color-medium-gray: #9095A1;
  --color-slate-gray: #6b5d62;
  --color-dark-blue: #191f25;
  --my-primary: #272e36;
  --my-secondary: #f0E9E6;
  --my-accent: #9095a1;
}
body {
  @apply font-modam;
}
